<%- include('partials/header') %>


    <!-- ///////////////////////////////////////////////////////////////////// -->

     <h1>You have not registered any NGO.</h1>




    <%- include('partials/footer') %>
