<%- include('partials/header') %>

    <!-- ///////////////////////////////////////////////////////////////////// -->



<h1>You have already registered an NGO.</h1>




    <%- include('partials/footer') %>
